img {
    width: 160px;
    height: 160px;
}

body {
    background-image: url('../assets/img/geometric.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

logotipo {
    align-content: left;
    padding-top: 600px;
}

header {
    display: flex; /*aula 25*/
    justify-content: space-between; /*aula 25*/
    background-color: #6666f1;   
    background-image: linear-gradient(to top left, #000d65,#6666f1);
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

main {
    display: flex;
}

nav {
    text-align: right; /* display inline da tag <a> abaixo, módulo 1 aula 18/19 */
}

a {
    display: inline-flex; /* aula 25 - pseudo elemento*/
    padding-top: 80px; /*porque meu logo é maior que o exemplo */
    align-items: center; /* aula 25 - pseudo elemento*/
    color: white;
    font-size: 20px;
    font-family: "Raleway", "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before { /* aula 25 - pseudo elemento*/
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.fade {
    background-color: #DB1F48;
    color: #fff;
    transition: background-color 1s;
}
  
.fade:hover {
    background-color: #004369;
}
  
.fade:focus,
.fade:active {
    background-color: black;
    transition: none;
}  

#button1:hover {
    background-color: #6666f1;
    transition-property: background-color 1s;
  }
 
#button1 {
    display: inline-block;
    background-color: #F25A70;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px; 
    box-shadow: 5px 5px 20px black;
    /* margin-right: 30px; */
}

.divEsquerda, .divDireita {
    width: 1040px;
    height: 500px;
    text-align: center;
    border-right: #000 solid;
    border-bottom: #000 solid;
}

.divEsquerda {
    width: 2400px;
}

.divSkills {
    color: white;
    /* background-color: yellow; */
}

.h1-skills {
    color: yellow;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    /* height: 50px; */
}

.button2 {
    margin-top: 60px;
    height: 84px;
    width: 390px;
}

.button3, .button4 {
    height: 54px;
    width: 170px;
    margin: 20px;
}

.button2, .button3, .button4 {
    background-color: #F25A70;
    font-family: 'Raleway';
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 20px #F25A70;
}

.a-skills {
        display: inline-flex;
    align-items: center;
}