email {
    text-transform: lowercase;
}

texto {
    color: #0000FF;
}

style1 {
    color: #FF0000;
}

background {
    color: #6666f1;
}

img {
    width: 90px;
    height: 60px;
}

logotipo {
    align-content: left;
    padding-top: 600px;
}

header {
    display: flex; /*aula 25*/
    justify-content: space-between; /*aula 25*/
    background-color: #6666f1;   
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right; /* display inline da tag <a> abaixo, módulo 1 aula 18/19 */
}

a {
    display: inline-flex; /* aula 25 - pseudo elemento*/
    align-items: center; /* aula 25 - pseudo elemento*/
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before { /* aula 25 - pseudo elemento*/
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    /* padding: 10px 20px; */
    height: 50px;
    line-height: 50px; 
    padding-left: 10px; 
    padding-right: 20px; 
    box-shadow: 5px 5px 20px black;
    margin-right: 0px;
}
