h1 {
    color: #F25A70;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-shadow: 5px 5px 5px #000;
}    

h2 {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-shadow: 5px 5px 5px #000;
}